
body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #5c3b32;
}

/* Main headings */
h1,
h2,
h3 {
    color: #70483e;
}

/* Cute main title */
.main-text {
    font-family: cursive;
}

/* Section headings */
h2 {
    font-size: 1.5rem;
}

/* Normal text */
p {
    line-height: 1.6;
}

/* Cart labels */
.cart {
    display: inline;
    font-weight: bold;
    color: #a96868;
}

/* Subtotal and total */
.subtotal {
    font-weight: bold;
    color: #7a4e43;
}

h4 {
    text-align: right;
    font-size: 1.5rem;
    color: #8d554a;
}

/* Footer */
footer {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    background-color: #f4d6d6;
    color: #70483e;
}