<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static, filename='css/style.css') }}">
        <title>{% block title %}Unique Cookies{% endblock %}</title>
    </head>
    <body>
        <header>
            <img src="/images/Cookie hero image.webp" alt="Stack of cookies on a table">
            <h1>Unique Cookies</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="order_history.html">Order History</a></li>
                <li><a href="invoice.html">Invoice</a></li>
            </ul>
        </nav>

        

    </body>
</html>