{% extends "base.html" %} 

{% block title %}Home - Unique Cookies{% endblock %}

{% block content %}
    <form action="{{ url_for('cookie_item') }}" method="post">
        <div class="layout">
            <div>
                <h2>Cookie Base:</h2>
                    <fieldset>
                        <legend for="cookie">Select Cookie:</legend>
                        <select name="cookie" id="cookie">
                            <option value="">Select Cookie Base</option>
                            {% for cookie, details in cookies.items() %}
                            <option value="{{ cookie }}">{{ cookie }} - ${{ details['price'] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
            </div>

            <div>
                <h2>Frosting Flavour:</h2>
                    <fieldset>
                        <legend for="frosting">Select Frosting:</legend>
                        <select name="frosting" id="frosting">
                            <option value="">Select Frosting Flavour</option>
                            {% for frosting, details in frostings.items() %}
                            <option value="{{ frosting }}">{{ frosting }} - ${{ details['price'] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
            </div>

            <div>
                <h2>Type of Toppings:</h2>
                    <fieldset>
                        <legend>Select Toppings:</legend>
                        {% for topping, details in toppings.items() %}
                            <label><input type="checkbox" name="toppings" value="{{ topping }}">{{ topping }} (${{ details['price'] }})</label>
                        {% endfor %}
                    </fieldset>
            </div>
        </div>
        <button type="submit">Add to cart</button>
    </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


    <h2>Cart:</h2>
    {% if cart %}
        <table>
            <tr>
                <th>Cookie Base:</th>
                <th>Frosting Flavour:</th>
                <th>Type of Topping:</th>
                <th>Price of Cookie:</th>
                <th> </th>
            </tr>
            {% for cookie_item in cart %}
                <tr>
                    <td>{{ cookie_item['cookie'] }}</td>
                    <td>{{ cookie_item['frosting'] }}</td>
                    <td>{{ cookie_item['selected_toppings'] | join(', ') }}</td>
                    <td>${{ '%.2f' % cookie_item['price'] }}</td>
                    <td><a href="{{url_for('remove', cookie_item=loop.index0) }}">[Remove]</a></td>
                </tr>
            {% endfor %}
        </table>
        <br>


        <li class="subtotal">Subtotal= ${{ '%.2f' % total_before_discount }}</li>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <h4>Total: ${{ '%.2f' % total_price }}</h4>

    <form action="{{ url_for('checkout') }}" method="post"> 
        <h3>Collection Method</h3> 
        <label><input type="radio" name="collection_method" value="Pickup" required>Pickup</label> 
        <label><input type="radio" name="collection_method" value="Delivery">Delivery</label> 
        <br>
        <h3>Your Name:</h3> 
        <input type="text" name="customer_name" id="customer_name_checkout" required> 
        <h3>Phone Number:</h3>
        <input type="text" name="customer_number" id="customer_number_checkout" required>
        <h3>Email Address:</h3>
        <input type="text" name="customer_email" id="customer_email_checkout" required>
        <button type="submit" formaction="{{ url_for('checkout') }}">Checkout</button> 
    </form>
    <form action="{{ url_for('cancel') }}" method="post">
        <button type="submit" formaction="{{ url_for('cancel') }}" onclick="return confirm('Are you sure you want to cancel your order? This will remove everything in your cart.')">Cancel Order</button> 
    </form>
{% endblock %}