{% extends "base.html" %} 

{% block title %}Home - Unique Cookies{% endblock %}

{% block content %}
    <form action="{{ url_for('cookie_item') }}" method="post">
        <div class="layout">
            <div>
                <h2>Cookie Base:</h2>
                    <fieldset>
                        <legend for="cookie">Select Cookie:</legend>
                        <select name="cookie" id="cookie">
                            {% for cookie, details in cookies.items() %}
                            <option value="{{ cookie }}">{{ cookie }} - ${{ details['price'] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
            </div>

            <div>
                <h2>Frosting Flavour:</h2>
                    <fieldset>
                        <legend for="frosting">Select Frosting:</legend>
                        <select name="frosting" id="frosting">
                            {% for frosting, details in frostings.items() %}
                            <option value="{{ frosting }}">{{ frosting }} - ${{ details['price'] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
            </div>

            <div>
                <h2>Type of Toppings:</h2>
                    <fieldset>
                        <legend>Select Toppings:</legend>
                        {% for topping, details in toppings.items() %}
                            <label>
                                <input type="checkbox" name="toppings" value="{{ topping }}">
                                <li>{{ topping }} (${{ details['price'] }})</li>
                            </label>
                        {% endfor %}
                    </fieldset>
            </div>
        </div>
        <button type="submit">Add to cart</button>
    </form>

    <h2>Cart:</h2>
    {% if cart %}
        <ul>
            {% for cookie_item in cart %}
                <li>
                    <p class="cart">Cookie: </p>{{ cookie_item['cookie'] }}<br>
                    <p class="cart">Frosting: </p>{{ cookie_item['frosting'] }}<br>
                    <p class="cart">Toppings: </p>{{ cookie_item['selected_toppings'] | join(', ') }}<br>
                    <p class="cart">Cookie Price: </p> ${{ '%.2f' % cookie_item['price'] }}<br>
                    <a href="{{url_for('remove', cookie_item=loop.index0) }}">[Remove cookie from cart]</a>
                </li>
            {% endfor %}
            <br>
        </ul>

        <li class="subtotal">Subtotal= ${{ '%.2f' % total_before_discount }}</li>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <h4>Total: ${{ '%.2f' % total_price }}</h4>

    <form action="{{ url_for('order_history') }}" method="post"> 
        <h3>Collection Method</h3> 
        <label><input type="radio" name="collection_method" value="Pickup" required>Pickup</label> 
        <label><input type="radio" name="collection_method" value="Delivery">Delivery</label> 
        <br>
        <h3>Your Name:</h3> 
        <input type="text" name="customer_name" id="customer_name_checkout" required> 
        <h3>Phone Number:</h3>
        <input type="text" name="customer_phone_number" id="customer_phone_number_checkout" required>
        <h3>Email Address:</h3>
        <input type="text" name="customer_email" id="customer_email_checkout" required>
        <button type="submit" formaction="{{ url_for('about') }}">Checkout</button> 
        <button type="submit" formaction="{{ url_for('order_history') }}" onclick="return confirm('Are you sure you want to cancel your order? This will remove everything in your cart.')">Cancel Order</button> 
    </form>
{% endblock %}