{% extends "base.html" %} 

{% block title %}Home - Unique Cookies{% endblock %}

{% block content %}
    <form>
        <div class="layout">
            <div>
                <h2>Cookie Base:</h2>
                <form action="{{ url_for('cookie_to_cart') }}" method="post">
                    <fieldset>
                        <legend for="cookie">Select Cookie:</legend>
                        <select name="cookie" id="cookie">
                            {% for cookie, details in cookies.items() %}
                            <option value="{{ cookie }}">{{ cookie }} - ${{ details['price'] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                </form>
            </div>

            <div>
                <h2>Frosting Flavour:</h2>
                <form action="{{ url_for('frosting_to_cart') }}" method="post">
                    <fieldset>
                        <legend for="frosting">Select Frosting:</legend>
                        <select name="frosting" id="frosting">
                            {% for frosting, details in frostings.items() %}
                            <option value="{{ frosting }}">{{ frosting }} - ${{ details['price'] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                </form>
            </div>

            <div>
                <h2>Type of Toppings:</h2>
                <form action="{{ url_for('toppings_to_cart') }}" method="post">
                    <fieldset>
                        <legend>Select Toppings:</legend>
                        {% for topping, details in toppings.items() %}
                            <label>
                                <input type="checkbox" name="toppings" value="{{ topping }}">
                                <li>{{ topping }} (${{ details['price'] }})</li>
                            </label>
                        {% endfor %}
                    </fieldset>
                </form>
            </div>
        </div>
        <button type="submit">Add to cart</button>
    </form>
{% endblock %}