{% extends "base.html" %} 

{% block title %}Invoice - Unique Cookies{% endblock %}

{% block content %}
    <div class="invoice">
        <h1>Invoice:</h1>
        <p>Invoice Number: {{ invoice_number }}</p>
        <p>Name: {{ customer_name }}</p>
        <p>Phone Number: {{ customer_number }}</p>
        <p>Email: {{ customer_email }}</p>
        <p>Date: {{ date }}</p>

        <h2>Cookie/s:</h2>
        <ul>
            {% for details in cart %}
                <li>
                    {{ cart }}:
                    = ${{ '%.2f' % (details['price']) }}
                </li>
            {% endfor %}
        </ul>

        <h2>Summary:</h2>
        <p>Subtotal: {{ '%.2f' % total_before_discount }}</p>
        <p>10% Discount applied</p>
        <h2>Total: ${{ '%.2f' % total_price }}</h2>
        <p>Thank you for shopping at Unique Cookie and supporting our small business!</p>
    </div>
        <a href="{{ url_for('index') }}">Click here to go back home</a>
{% endblock %}