{% extends "base.html" %} 

{% block title %}Invoice - Unique Cookies{% endblock %}

{% block content %}
    <div class="invoice">
        <h1>Invoice:</h1>
        <p>Invoice Number: {{ invoice_number }}</p>
        <p>Name: {{ customer_name }}</p>
        <p>Phone Number: {{ customer_number }}</p>
        <p>Email: {{ customer_email }}</p>
        <p>Date: {{ date }}</p>

        <h2>Cookie/s Order:</h2>
        <ul>
            {% for cookie_item in cart %}
                <li>
                    Cookie Base: {{ cookie_item['cookie'] }}
                    <br>
                    Frosting: {{ cookie_item['frosting'] }}
                    <br>
                    Toppings: {{ cookie_item['selected_toppings'] | join(', ') }}
                    <br>
                    Price: ${{ '%.2f' | format(cookie_item['price']) }}                
                </li>
            <br>
            {% endfor %}
        </ul>

        <h2>Summary:</h2>
        <p>Subtotal: {{ '%.2f' % total_before_discount }}</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <h2>Total: ${{ '%.2f' % total_price }}</h2>
        <p>Thank you for shopping at Unique Cookie and supporting our small business!</p>
    </div>
        <a href="{{ url_for('index') }}">Click here to go back home</a>
{% endblock %}